<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Connor Mulcahey</string>
	<key>Builder Version</key>
	<string>10600.3.18</string>
	<key>CFBundleDisplayName</key>
	<string>RateMyGold</string>
	<key>CFBundleIdentifier</key>
	<string>com.connormulcahey.rateMyGold</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>Global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Injected.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery.min.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>sheet.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A Safari port of the RateMyGold Chrome extension.</string>
	<key>DeveloperIdentifier</key>
	<string>X63259ZPUT</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://cs.ucsb.edu/~connor00/ratemygold.html</string>
</dict>
</plist>
